In [349]:
#importing the libraties

import numpy as np
import pandas as pd
import re
import datetime as dt

In [350]:
pd.options.display.max_columns = None
#pd.options.display.max_rows = None

In [351]:
# loading the raw dataset

fifa = pd.read_csv(r'C:\Users\shara\Documents\Oks_docs\Portfolio\raw_data\cleaning\fifa21_raw_data.csv', parse_dates=['Joined'])

C:\Users\shara\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3553: DtypeWarning: Columns (76) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [352]:
fifa.head()

,photoUrl,LongName,playerUrl,Nationality,Positions,Name,Age,↓OVA,POT,Team & Contract,ID,Height,Weight,foot,BOV,BP,Growth,Joined,Loan Date End,Value,Wage,Release Clause,Attacking,Crossing,Finishing,Heading Accuracy,Short Passing,Volleys,Skill,Dribbling,Curve,FK Accuracy,Long Passing,Ball Control,Movement,Acceleration,Sprint Speed,Agility,Reactions,Balance,Power,Shot Power,Jumping,Stamina,Strength,Long Shots,Mentality,Aggression,Interceptions,Positioning,Vision,Penalties,Composure,Defending,Marking,Standing Tackle,Sliding Tackle,Goalkeeping,GK Diving,GK Handling,GK Kicking,GK Positioning,GK Reflexes,Total Stats,Base Stats,W/F,SM,A/W,D/W,IR,PAC,SHO,PAS,DRI,DEF,PHY,Hits
0,https://cdn.sofifa.com/players/158/023/21_60.png,Lionel Messi,http://sofifa.com/player/158023/lionel-messi/2...,Argentina,RW ST CF,L. Messi,33,93,93,\n\n\n\nFC Barcelona\n2004 ~ 2021\n\n,158023,"5'7""",159lbs,Left,93,RW,0,2004-07-01,NaN,€67.5M,€560K,€138.4M,429,85,95,70,91,88,470,96,93,94,91,96,451,91,80,91,94,95,389,86,68,72,69,94,347,44,40,93,95,75,96,91,32,35,24,54,6,11,15,14,8,2231,466,4 ★,4★,Medium,Low,5 ★,85,92,91,95,38,65,\n372
1,https://cdn.sofifa.com/players/020/801/21_60.png,C. Ronaldo dos Santos Aveiro,http://sofifa.com/player/20801/c-ronaldo-dos-s...,Portugal,ST LW,Cristiano Ronaldo,35,92,92,\n\n\n\nJuventus\n2018 ~ 2022\n\n,20801,"6'2""",183lbs,Right,92,ST,0,2018-07-10,NaN,€46M,€220K,€75.9M,437,84,95,90,82,86,414,88,81,76,77,92,431,87,91,87,95,71,444,94,95,84,78,93,353,63,29,95,82,84,95,84,28,32,24,58,7,11,15,14,11,2221,464,4 ★,5★,High,Low,5 ★,89,93,81,89,35,77,\n344
2,https://cdn.sofifa.com/players/200/389/21_60.png,Jan Oblak,http://sofifa.com/player/200389/jan-oblak/210005/,Slovenia,GK,J. Oblak,27,91,93,\n\n\n\nAtlético Madrid\n2014 ~ 2023\n\n,200389,"6'2""",192lbs,Right,91,GK,2,2014-07-16,NaN,€75M,€125K,€159.4M,95,13,11,15,43,13,109,12,13,14,40,30,307,43,60,67,88,49,268,59,78,41,78,12,140,34,19,11,65,11,68,57,27,12,18,437,87,92,78,90,90,1413,489,3 ★,1★,Medium,Medium,3 ★,87,92,78,90,52,90,\n86
3,https://cdn.sofifa.com/players/192/985/21_60.png,Kevin De Bruyne,http://sofifa.com/player/192985/kevin-de-bruyn...,Belgium,CAM CM,K. De Bruyne,29,91,91,\n\n\n\nManchester City\n2015 ~ 2023\n\n,192985,"5'11""",154lbs,Right,91,CAM,0,2015-08-30,NaN,€87M,€370K,€161M,407,94,82,55,94,82,441,88,85,83,93,92,398,77,76,78,91,76,408,91,63,89,74,91,408,76,66,88,94,84,91,186,68,65,53,56,15,13,5,10,13,2304,485,5 ★,4★,High,High,4 ★,76,86,93,88,64,78,\n163
4,https://cdn.sofifa.com/players/190/871/21_60.png,Neymar da Silva Santos Jr.,http://sofifa.com/player/190871/neymar-da-silv...,Brazil,LW CAM,Neymar Jr,28,91,91,\n\n\n\nParis Saint-Germain\n2017 ~ 2022\n\n,190871,"5'9""",150lbs,Right,91,LW,0,2017-08-03,NaN,€90M,€270K,€166.5M,408,85,87,62,87,87,448,95,88,89,81,95,453,94,89,96,91,83,357,80,62,81,50,84,356,51,36,87,90,92,93,94,35,30,29,59,9,9,15,15,11,2175,451,5 ★,5★,High,Medium,5 ★,91,85,86,94,36,59,\n273

In [353]:
fifa.shape

(18979, 77)

### Fixing dataset headers

In [354]:
# To simplify working with the dataframe, we need to format the headers to lowercase and remove any non-letter symbols from them

fifa.columns = fifa.columns.str.lower().str.replace(' ','_')

In [ ]:
def headers_cleaner (title):
    return re.sub(r'[^a-zA-Z]', '', title)

In [325]:
# applying the function to the dataframe columns

fifa.columns = [headers_cleaner(col) for col in fifa.columns]

In [326]:
# checking the result

fifa.columns

Index(['photourl', 'longname', 'playerurl', 'nationality', 'positions', 'name',
       'age', 'ova', 'pot', 'teamcontract', 'id', 'height', 'weight', 'foot',
       'bov', 'bp', 'growth', 'joined', 'loandateend', 'value', 'wage',
       'releaseclause', 'attacking', 'crossing', 'finishing',
       'headingaccuracy', 'shortpassing', 'volleys', 'skill', 'dribbling',
       'curve', 'fkaccuracy', 'longpassing', 'ballcontrol', 'movement',
       'acceleration', 'sprintspeed', 'agility', 'reactions', 'balance',
       'power', 'shotpower', 'jumping', 'stamina', 'strength', 'longshots',
       'mentality', 'aggression', 'interceptions', 'positioning', 'vision',
       'penalties', 'composure', 'defending', 'marking', 'standingtackle',
       'slidingtackle', 'goalkeeping', 'gkdiving', 'gkhandling', 'gkkicking',
       'gkpositioning', 'gkreflexes', 'totalstats', 'basestats', 'wf', 'sm',
       'aw', 'dw', 'ir', 'pac', 'sho', 'pas', 'dri', 'def', 'phy', 'hits'],
      dtype='object')

### Checking for duplicates

In [327]:
# checking if the dataset has duplicated rows and how many
fifa.duplicated().sum()

1

In [328]:
# lets have a look at the duplicated row
fifa_duplicated = fifa.duplicated()
fifa[fifa_duplicated]

,photourl,longname,playerurl,nationality,positions,name,age,ova,pot,teamcontract,id,height,weight,foot,bov,bp,growth,joined,loandateend,value,wage,releaseclause,attacking,crossing,finishing,headingaccuracy,shortpassing,volleys,skill,dribbling,curve,fkaccuracy,longpassing,ballcontrol,movement,acceleration,sprintspeed,agility,reactions,balance,power,shotpower,jumping,stamina,strength,longshots,mentality,aggression,interceptions,positioning,vision,penalties,composure,defending,marking,standingtackle,slidingtackle,goalkeeping,gkdiving,gkhandling,gkkicking,gkpositioning,gkreflexes,totalstats,basestats,wf,sm,aw,dw,ir,pac,sho,pas,dri,def,phy,hits
944,https://cdn.sofifa.com/players/251/698/21_60.png,Kevin Berlaso,http://sofifa.com/player/251698/kevin-berlaso/...,Ecuador,RB,K. Berlaso,32,77,77,\n Ecuador\nFree\n\n,251698,"5'8""",152lbs,Right,77,RB,0,2010-01-01,NaN,€0,€0,€0,306,72,47,60,73,54,350,75,75,54,68,78,397,77,78,86,77,79,345,69,70,86,57,63,323,73,70,69,63,48,73,224,71,75,78,58,11,12,11,16,8,2003,420,3 ★,4★,High,Medium,2 ★,78,56,69,77,72,68,\n12

In [329]:
fifa.drop_duplicates(inplace = True)

In [330]:
fifa.duplicated().sum()

0

### Missing values

In [333]:
# checking which column has no missing values
no_null_columns = fifa.columns[fifa.isnull().sum() == 0]
no_null_columns

Index(['photourl', 'longname', 'playerurl', 'nationality', 'positions', 'name',
       'age', 'ova', 'pot', 'teamcontract', 'id', 'height', 'weight', 'foot',
       'bov', 'bp', 'growth', 'joined', 'value', 'wage', 'releaseclause',
       'attacking', 'crossing', 'finishing', 'headingaccuracy', 'shortpassing',
       'volleys', 'skill', 'dribbling', 'curve', 'fkaccuracy', 'longpassing',
       'ballcontrol', 'movement', 'acceleration', 'sprintspeed', 'agility',
       'reactions', 'balance', 'power', 'shotpower', 'jumping', 'stamina',
       'strength', 'longshots', 'mentality', 'aggression', 'interceptions',
       'positioning', 'vision', 'penalties', 'composure', 'defending',
       'marking', 'standingtackle', 'slidingtackle', 'goalkeeping', 'gkdiving',
       'gkhandling', 'gkkicking', 'gkpositioning', 'gkreflexes', 'totalstats',
       'basestats', 'wf', 'sm', 'aw', 'dw', 'ir', 'pac', 'sho', 'pas', 'dri',
       'def', 'phy', 'hits'],
      dtype='object')

In [336]:
null_75_columns = fifa.columns[fifa.isnull().sum()/fifa.shape[0] >= .75] #provide a set of columns with more than 75% missing values
null_75_columns

Index(['loandateend'], dtype='object')

There is only one column with more than 75% of the values missing, which is “Loan Date End.” We will proceed by dropping the entire column as it is not going to add any value to our analysis.

In [338]:
fifa = fifa.drop('loandateend', axis = 1)

In [339]:
fifa.columns

Index(['photourl', 'longname', 'playerurl', 'nationality', 'positions', 'name',
       'age', 'ova', 'pot', 'teamcontract', 'id', 'height', 'weight', 'foot',
       'bov', 'bp', 'growth', 'joined', 'value', 'wage', 'releaseclause',
       'attacking', 'crossing', 'finishing', 'headingaccuracy', 'shortpassing',
       'volleys', 'skill', 'dribbling', 'curve', 'fkaccuracy', 'longpassing',
       'ballcontrol', 'movement', 'acceleration', 'sprintspeed', 'agility',
       'reactions', 'balance', 'power', 'shotpower', 'jumping', 'stamina',
       'strength', 'longshots', 'mentality', 'aggression', 'interceptions',
       'positioning', 'vision', 'penalties', 'composure', 'defending',
       'marking', 'standingtackle', 'slidingtackle', 'goalkeeping', 'gkdiving',
       'gkhandling', 'gkkicking', 'gkpositioning', 'gkreflexes', 'totalstats',
       'basestats', 'wf', 'sm', 'aw', 'dw', 'ir', 'pac', 'sho', 'pas', 'dri',
       'def', 'phy', 'hits'],
      dtype='object')

### Weight and Height columns

In [273]:
#cheking data type for the age, height and weight columns
fifa.dtypes[['height','weight']]

height    object
weight    object
dtype: object

In [274]:
# lets have a look at the data format
fifa[['height','weight']]

      height  weight
0       5'7"  159lbs
1       6'2"  183lbs
2       6'2"  192lbs
3      5'11"  154lbs
4       5'9"  150lbs
...      ...     ...
18974  5'10"  154lbs
18975   5'7"  128lbs
18976  5'10"  146lbs
18977   5'9"  143lbs
18978   5'9"  150lbs

[18978 rows x 2 columns]

In [275]:
# For analysis purposes, we need to convert "lbs" to kilograms and change the data type to integer

def height_weight_convert(x):
    if x.endswith('lbs') == True:
        x = x.replace('lbs','')
        a = round(int(x)*.453592)
        return a
    
    else:
        x = x.replace("\'"," ").replace("\"","").split(" ")
        b = (int(x[0])*12 + int(x[1]))*2.54
        return b

In [276]:
fifa['height'] = fifa['height'].map(height_weight_convert)
fifa['weight'] = fifa['weight'].map(height_weight_convert)

In [277]:
fifa[['height', 'weight']]

       height  weight
0      170.18      72
1      187.96      83
2      187.96      87
3      180.34      70
4      175.26      68
...       ...     ...
18974  177.80      70
18975  170.18      58
18976  177.80      66
18977  175.26      65
18978  175.26      68

[18978 rows x 2 columns]

### Value, Wage, Release close

In [278]:
fifa[['value','wage','releaseclause']]

        value   wage releaseclause
0      €67.5M  €560K       €138.4M
1        €46M  €220K        €75.9M
2        €75M  €125K       €159.4M
3        €87M  €370K         €161M
4        €90M  €270K       €166.5M
...       ...    ...           ...
18974    €35K    €1K          €57K
18975    €60K   €500         €165K
18976    €40K    €1K          €70K
18977    €60K   €500         €165K
18978    €60K   €500         €167K

[18978 rows x 3 columns]

In [279]:
fifa['value_duplicated'] = fifa['value']

In [280]:
def remove_numbers(x):
    a = re.sub(r'\d+', '', str(x))
    a = a.lstrip('€').replace('.','')
    return a

In [281]:
fifa['value_duplicated'] = fifa['value_duplicated'].apply(remove_numbers)

In [282]:
fifa['value_duplicated'].value_counts()

K    11944
M     6786
       248
Name: value_duplicated, dtype: int64

In [283]:
def euro_convert(x):
    x = x.lstrip('€')
    
    if x.endswith('K') == True:
        a = float(x.rstrip('K'))

    elif x.endswith('M') == True:
        a = float(x.rstrip('M'))*1000
        
    else:
        a = float(x)/1000
        
    return a

In [284]:
fifa['value2'] = fifa['value'].apply(euro_convert)

In [285]:
fifa[['value','value2']]

        value   value2
0      €67.5M  67500.0
1        €46M  46000.0
2        €75M  75000.0
3        €87M  87000.0
4        €90M  90000.0
...       ...      ...
18974    €35K     35.0
18975    €60K     60.0
18976    €40K     40.0
18977    €60K     60.0
18978    €60K     60.0

[18978 rows x 2 columns]

In [286]:
fifa['value'] = fifa['value2']

In [287]:
fifa = fifa.drop(['value2','value_duplicated'], axis = 1)

In [288]:
fifa.columns

Index(['photourl', 'longname', 'playerurl', 'nationality', 'positions', 'name',
       'age', 'ova', 'pot', 'teamcontract', 'id', 'height', 'weight', 'foot',
       'bov', 'bp', 'growth', 'joined', 'loandateend', 'value', 'wage',
       'releaseclause', 'attacking', 'crossing', 'finishing',
       'headingaccuracy', 'shortpassing', 'volleys', 'skill', 'dribbling',
       'curve', 'fkaccuracy', 'longpassing', 'ballcontrol', 'movement',
       'acceleration', 'sprintspeed', 'agility', 'reactions', 'balance',
       'power', 'shotpower', 'jumping', 'stamina', 'strength', 'longshots',
       'mentality', 'aggression', 'interceptions', 'positioning', 'vision',
       'penalties', 'composure', 'defending', 'marking', 'standingtackle',
       'slidingtackle', 'goalkeeping', 'gkdiving', 'gkhandling', 'gkkicking',
       'gkpositioning', 'gkreflexes', 'totalstats', 'basestats', 'wf', 'sm',
       'aw', 'dw', 'ir', 'pac', 'sho', 'pas', 'dri', 'def', 'phy', 'hits'],
      dtype='object')

In [289]:
fifa['wage'] = fifa['wage'].apply(euro_convert)
fifa['releaseclause'] = fifa['releaseclause'].apply(euro_convert)

In [290]:
fifa[['value','wage','releaseclause']]

         value   wage  releaseclause
0      67500.0  560.0       138400.0
1      46000.0  220.0        75900.0
2      75000.0  125.0       159400.0
3      87000.0  370.0       161000.0
4      90000.0  270.0       166500.0
...        ...    ...            ...
18974     35.0    1.0           57.0
18975     60.0    0.5          165.0
18976     40.0    1.0           70.0
18977     60.0    0.5          165.0
18978     60.0    0.5          167.0

[18978 rows x 3 columns]

### Hits column

In [291]:
fifa[['hits']]

        hits
0      \n372
1      \n344
2       \n86
3      \n163
4      \n273
...      ...
18974      2
18975      3
18976      3
18977      5
18978      2

[18978 rows x 1 columns]

In [292]:
fifa[['hits']].dtypes

hits    object
dtype: object

In [293]:
fifa['hits'] = fifa['hits'].replace('\n',' ',regex=True)

In [294]:
fifa[['hits']]

       hits
0       372
1       344
2        86
3       163
4       273
...     ...
18974     2
18975     3
18976     3
18977     5
18978     2

[18978 rows x 1 columns]

### Team and contract column

In [295]:
fifa[['teamcontract']]

                                            teamcontract
0                  \n\n\n\nFC Barcelona\n2004 ~ 2021\n\n
1                      \n\n\n\nJuventus\n2018 ~ 2022\n\n
2               \n\n\n\nAtlético Madrid\n2014 ~ 2023\n\n
3               \n\n\n\nManchester City\n2015 ~ 2023\n\n
4           \n\n\n\nParis Saint-Germain\n2017 ~ 2022\n\n
...                                                  ...
18974  \n\n\n\nChongqing Dangdai Lifan FC SWM Team\n2...
18975           \n\n\n\nOldham Athletic\n2020 ~ 2021\n\n
18976                \n\n\n\nWuhan Zall\n2018 ~ 2022\n\n
18977           \n\n\n\nOldham Athletic\n2020 ~ 2021\n\n
18978              \n\n\n\nClub Bolívar\n2020 ~ 2024\n\n

[18978 rows x 1 columns]

In [296]:
fifa['teamcontract'] = fifa['teamcontract'].str.lstrip('\n').str.rstrip('\n')

In [297]:
fifa[['teamcontract']]

                                           teamcontract
0                             FC Barcelona\n2004 ~ 2021
1                                 Juventus\n2018 ~ 2022
2                          Atlético Madrid\n2014 ~ 2023
3                          Manchester City\n2015 ~ 2023
4                      Paris Saint-Germain\n2017 ~ 2022
...                                                 ...
18974  Chongqing Dangdai Lifan FC SWM Team\n2020 ~ 2020
18975                      Oldham Athletic\n2020 ~ 2021
18976                           Wuhan Zall\n2018 ~ 2022
18977                      Oldham Athletic\n2020 ~ 2021
18978                         Club Bolívar\n2020 ~ 2024

[18978 rows x 1 columns]

In [301]:
fifa['team'] = fifa.teamcontract.str.split('\n', expand = True)[0]
fifa['contract'] = fifa.teamcontract.str.split('\n', expand = True)[1]

In [303]:
fifa[['teamcontract','team','contract']]

,teamcontract,team,contract
0,FC Barcelona\n2004 ~ 2021,FC Barcelona,2004 ~ 2021
1,Juventus\n2018 ~ 2022,Juventus,2018 ~ 2022
2,Atlético Madrid\n2014 ~ 2023,Atlético Madrid,2014 ~ 2023
3,Manchester City\n2015 ~ 2023,Manchester City,2015 ~ 2023
4,Paris Saint-Germain\n2017 ~ 2022,Paris Saint-Germain,2017 ~ 2022
...,...,...,...
18974,Chongqing Dangdai Lifan FC SWM Team\n2020 ~ 2020,Chongqing Dangdai Lifan FC SWM Team,2020 ~ 2020
18975,Oldham Athletic\n2020 ~ 2021,Oldham Athletic,2020 ~ 2021
18976,Wuhan Zall\n2018 ~ 2022,Wuhan Zall,2018 ~ 2022
18977,Oldham Athletic\n2020 ~ 2021,Oldham Athletic,2020 ~ 2021
18978,Club Bolívar\n2020 ~ 2024,Club Bolívar,2020 ~ 2024

In [305]:
fifa = fifa.drop(['teamcontract'], axis = 1)

In [306]:
fifa.columns

Index(['photourl', 'longname', 'playerurl', 'nationality', 'positions', 'name',
       'age', 'ova', 'pot', 'id', 'height', 'weight', 'foot', 'bov', 'bp',
       'growth', 'joined', 'loandateend', 'value', 'wage', 'releaseclause',
       'attacking', 'crossing', 'finishing', 'headingaccuracy', 'shortpassing',
       'volleys', 'skill', 'dribbling', 'curve', 'fkaccuracy', 'longpassing',
       'ballcontrol', 'movement', 'acceleration', 'sprintspeed', 'agility',
       'reactions', 'balance', 'power', 'shotpower', 'jumping', 'stamina',
       'strength', 'longshots', 'mentality', 'aggression', 'interceptions',
       'positioning', 'vision', 'penalties', 'composure', 'defending',
       'marking', 'standingtackle', 'slidingtackle', 'goalkeeping', 'gkdiving',
       'gkhandling', 'gkkicking', 'gkpositioning', 'gkreflexes', 'totalstats',
       'basestats', 'wf', 'sm', 'aw', 'dw', 'ir', 'pac', 'sho', 'pas', 'dri',
       'def', 'phy', 'hits', 'team', 'contract'],
      dtype='object')